/*Paginas laterais*/

* {
  margin: 0;
  padding: 0;
}

.topo {
  background-color: #374787;
}

.titulo {
  color: black;
}

.topob {
  background-color: #374787;
}

.texto_btn {
  color: black;
}

.btn1,
.btn2,
.btn3,
.btn4 {
  background-color: #D9D9D9;
}

.footer_guia2{
  background-color: #374787;
}

.bxtexto{
  color: black;
}

.footer_guia1_txt{
  color: black;
}

.footer_guia1{
  background-color: #374787;
}

.barra{
  background-color: black ;
}

/*Paginas canais */